n8n-send-reminders-workflow.json
{
  "name": "Send Reminders Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ganga-maxx-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "ganga-maxx-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.action }}",
              "value2": "send_reminders"
            }
          ]
        }
      },
      "id": "2",
      "name": "Check Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.reminders",
        "options": {}
      },
      "id": "3",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.2,
      "position": [
        650,
        280
      ]
    },
    {
      "parameters": {
        "content": "## Send Reminder Email here\n\nConfigure your SMTP or Email node here to send the actual reminder.",
        "height": 268,
        "width": 264
      },
      "id": "4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        820,
        140
      ]
    },
    {
      "parameters": {
        "fromEmail": "admin@gangamaxx.com",
        "toEmail": "mock@example.com",
        "subject": "=Payment Reminder: Invoice {{ $json.invoice_no }}",
        "text": "=Hello {{ $json.customer }},\n\nThis is a friendly reminder that invoice {{ $json.invoice_no }} for {{ $json.amount }} is currently {{ $json.days_overdue }} days overdue.\n\nPlease arrange for payment as soon as possible.\n\nBest regards,\nGanga Maxx Credit Team",
        "options": {}
      },
      "id": "5",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        880,
        280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d6c1fc60-b6bc-4dfa-b789-22a16d510f0f",
  "id": "ganga_maxx_reminders_wf",
  "tags": []
}
